.top{
    padding: 10vh 13%;
    height: 80vh;
    width: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/maze2.jpg");
    background-size: cover;
}
.topHeader{
    font-size: 90px;
    color: white;
    font-weight: bold;
    margin: 0;
    cursor: default;
    user-select: none;
}
.topText{
    color: black;
    margin: 5px;
    font-size: 20px;
    cursor: default;
    user-select: none;
    position: absolute;
    bottom: 100px;
    left: 44.5%;
}
.topBlur{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.89));
}
.scrollButton{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    left: 49.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
    animation: 3s okok ease-in-out infinite;
    transition: 150ms ease-in-out;
}
.scrollButton:hover{
    color: #bfce19;
    border-color: #bfce19;
    text-shadow: 0 0 8px white;
    box-shadow: 0 0 12px white;
}
@keyframes okok {
    0%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
.about{
    width: 74%;
    padding: 100px 13%;
    display: flex;
}
.team{
    padding: 100px 13%;
    margin: 100px auto;
    width: 800px;
    height: 300px;
}
.swiperLeft{
    width: 40%;
    display: flex;
    justify-content: center;
}
.swiperRight{
    width: 60%;
}
.swiperImage{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.logyn{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.81);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.actualLogyn{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50px;
    border: 3px solid #aaec43;
    box-shadow: 0 0 15px #484848;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    box-sizing: border-box;
    border-radius: 10px;
}

.login-box .logynText {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
}
.logynClose{
    position: fixed;
    top: -20px;
    right: 0;
}
#closeIco{
    width: 30px;
    transition: 300ms;
    cursor: pointer;
}
#closeIco:hover{
    transform: rotate(90deg);
}
.logynButton{
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    transition: 200ms ease-in-out;
}
.logynButton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.logynResult{
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    width: 320px;
    height: 27px;
}