.content{
    padding: 10vh 13%;
    height: 80vh;
    width: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/maze2.jpg");
    background-size: cover;
}
.contentBox{
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.45);
    border: 3px solid #bfce19;
    border-radius: 40px;
    padding: 10px 30px;
}
table, tr{
    width: 100%;
    text-align: center;
}
th, td{
    width: 33%;
    padding: 10px;
}
.scoreboard{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.scoreboard::-webkit-scrollbar {
    width: 7px;
}

.scoreboard::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 5px;
}